.card .card-text {
    min-height: 100px;
    
}

/* section {
    border: 1px solid #f2f2f2;
    padding: 5px; */
}

footer {
    margin-top: 30px;
}

footer .social {
    text-align: right;
    padding: 20px 0;
    
}

footer .social a {
    padding: 10px;
    display: inline-block;
    margin: 0 20px;
    font-size: 40px;
    }

footer .social a .fa-instagram {
    color: #e95950;
}

footer .social a .fa-behance {
    color: #131418;
}
